spring:
  application:
    name: eureka-client-pro
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 8762
management:
  endpoints:
    web:
      exposure:
        include: refresh